//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;

}
.height{
    height: 100%;

}
header{
    width: 100%;
}
// MAIN
@import 'about';
@import 'discography';
main{
    width: 100%;
    height: calc(100vh - 150px);
    background-color: black;
    color: white;
}
// FOOTER---------
@import 'footer';
