* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.height {
  height: 100%;
}

header {
  width: 100%;
}

main {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: black;
  color: white;
}

main .containerInfo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .containerInfo h1 {
  font-size: 50px;
}

main .containerInfo p {
  font-style: italic;
  letter-spacing: 1px;
  padding: 20px;
  line-height: 30px;
}

main .discography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

main .discography .discographyContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50%;
}

footer {
  height: 150px;
  background-color: #353434;
  color: white;
}

footer .footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

footer .footerContainer .imgContainer {
  width: 100px;
  height: 90%;
  display: flex;
  align-items: center;
}

footer .footerContainer .imgContainer img {
  width: 100%;
}

footer .footerContainer .footerInfo {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

footer .footerContainer .footerInfo .footerInfoElement {
  display: flex;
  flex-direction: column;
}

